<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="my-3">Services</h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col my-3">
      <div class="container-fluid bg-secondary text-white rounded">
        <%= form_for_filterrific @filterrific do |f| %>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :search_name, "Search Name", class: "my-1" %>
                <%= f.text_field :with_name, class: 'filterrific-periodically-observed form-control', placeholder: "Name" %>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <%= f.label :search_country, "Search Country", class: "my-1" %>
                <%= f.select :with_country, @filterrific.select_options[:with_country], {include_blank: '- Any -'}, class: "form-control" %>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <%= f.label :search_price, "Price (more than)", class: "my-1" %>
                <%= f.number_field :with_price, class: 'filterrific-periodically-observed form-control', placeholder: "0" %>
              </div>
            </div> 

            <div class="col">
              <div class="form-group">
                <%= f.label :search_cost, "Cost (more than)", class: "my-1" %>     
                <%= f.number_field :with_cost, class: 'filterrific-periodically-observed form-control', placeholder: "0" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :sort_by, "Sorted By", class: "my-1" %>
                <%= f.select :sorted_by, @filterrific.select_options[:sorted_by], {}, class: "form-control" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>  

  <%= render(partial: 'services/list', locals: {services: @services}) %>
</div>
