<h1>Services</h1>

<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search Name
    <%= f.text_field(:with_name, class: 'filterrific-periodically-observed') %>
  </div>
  <div>
    Country
    <%= f.select(
      :with_country,
      @filterrific.select_options[:with_country],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div>
    Price (more than)
    <%= f.number_field(:with_price) %>
  </div>
  <div>
    Cost (more than)
    <%= f.number_field(:with_cost) %>
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
<% end %>

<%= render(partial: 'services/list', locals: {services: @services}) %>